{% extends 'base.html.twig' %}

{% block title %}
    Edycja odpowiedzi
{% endblock %}

{% block body %}

    <h1>Edycja odpowiedzi</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit">
        Zapisz
    </button>

    {{ form_end(form) }}

{% endblock %}


